doctype
html
  head
    meta(charset="utf-8")
    title 结果
    link(rel="stylesheet",href="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css")
    script(src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js")
    script(src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js")

  body
    table(class="table")
      caption Results
        thead
          tr
            th Title
            th digest
            th Biz(公众号标识)
            th Like_num
            th Read_num
        tbody
          each res in result
            tr  
              td #{res.title}
              td #{res.digest}
              td #{res.__biz}
              td #{res.like_num}
              td #{res.read_num}